<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derugh EMS Dashboard Pages</title>
    <link rel="stylesheet" href="../Css/globals.css">
    <link rel="stylesheet" href="../MainPage/Main.css">
     
</head>
<body>

    <header class="header">
        <div class="logo">
            <h1>Dashboard</h1>
        </div>
        <nav class="navbar" id="navbar">
            <ul class="menu">
                <li class="listItem"><a href="#">Home</a></li>
                <li class="listItem"><a href="#">About</a></li>
                <li class="listItem"><a href="#">Feature</a></li>
                <li class="listItem"><a href="#">Pricing</a></li>
                <li class="listItem"><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <button class="btn">
            <a href="#">Get Started</a>
        </button>

    </header>
    <main class="main" id="main">
        <section class="main_title">
            <h1>Dashboard <br>Landing Page Desing</h1>
            <p> A desktop app i a computer program <br>desingned to run on a mobile or others devices <br>such as a phone/tablets/ or computers</p>
            <button class="main_btn">
                <a href="#">Learn More</a>
            </button>
        </section>
        <section class="main_Cover">
            <img src="/Assets/computer.png" alt="">
        </section>

    </main>


    
</body>
</html>