@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body{
    background-color: #262643;
    max-width: 2000px;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui;
    color: white;
}
:root {
    --Grey:#84878B;
    --BlackPrimery : #2C2E32;
    --PrimeryBlue: #0C99FF;
    --ItemBlue: #01517E;
    --StatusBack :#DBF3E6;
    --StatusColor: #6ECF9D;
    --DarkGrenn:#3E875E;
    --PriorityBack : #FFCCCC;
    --PriorityColor: #B82F26;
    --PaymentBack :#D7F0FF;
    --PaymentColor:#2695B8;
    --AssetsBack:#FFF4CC;
    --AssetsColor :#B6900A;
    --lightRed: #FF6A77;
    --Yellow: #FFD66B;
    --Orange:#FF8F6B;
    --Danger: #D11A2A;
    --blueBtn : #26C0E2;
    --Primary: #605BFF;
    --InputBack: #F7F7F8;
}
.header {
    display: flex;
  
    width: 80%;
    height: 90px;
    margin: 0 10%;
    background-color: #6d6dd326;
    border-radius: 15px;
    align-items: center;
     
}
.header  h1{
    font-size: 20px;
    font-weight: 200;
}
.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 70%;
    color: #eee;
    display: flex;
    justify-content: right;
   
}
  
.navbar .menu {
    width: 65%;
    text-align: center;
    transition: 0.5s;
}

.navbar .listItem {
    padding: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

 .menu_btn{
 display: none;
}

.btn{
    width: 150px;
    height: 40px;
    background-color: var(--lightRed);
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;

}
.btn:hover{
    background-color: var(--DarkGrenn);
}
.main {
    width: 80%;
    height: 100%;
   
    margin: 0 10%;
    display: flex;
   
   
}
main .main_title{
    width: 40%;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 5%;
    margin-left: 5%;
    
}
main .main_title h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
main .main_title p {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}

.main_btn {
    width: 150px;
    height: 40px;
    background-color: var(--lightRed);
    border: none;
    border-radius: 20px
}

main .main_Cover {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 5%;
}
 
#close {
    display: none;
}
#burger{
    display: none;
}




.log-in{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #c7c7ff6d;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.5s ease-in-out;

}
.log-inShow {
    display: inline;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #c7c7ff6d;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

}
 
.log-forms {
    width: 600px;
    height: 600px;
    background-color: #262643;
    position: fixed;
    border-radius: 10px;
}
#close_log{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: var(--lightRed);
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 90%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

  

}
#close_log i {
   width: 100%;
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
#close_log:hover{
   background-color: var(--Grey);
}

.forms{
    width: 90%;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    line-height: 3;
    margin: 2% auto;
    
}
.forms label {
    font-size: 14px;
    color: var(--Primary);
}
.forms  input {
    width: 400px;
    height: 40px;
    background-color: #262643;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
}
.forms  input::placeholder{
    padding-left: 20px;
    letter-spacing: 1px;
     font-size: 10px;
}
.forms .logButtin{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--lightRed);
    color: white;
    font-size: 18px;
    border: none;
}
.info_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 40px;
  margin: auto;
  border-bottom: 1px solid white;
}
.info_btn span{
    color: var(--PrimeryBlue);
   
}