@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --Grey:#84878B;
    --BlackPrimery : #2C2E32;
    --PrimeryBlue: #0C99FF;
    --ItemBlue: #01517E;
    --StatusBack :#DBF3E6;
    --StatusColor: #6ECF9D;
    --DarkGrenn:#3E875E;
    --PriorityBack : #FFCCCC;
    --PriorityColor: #B82F26;
    --PaymentBack :#D7F0FF;
    --PaymentColor:#2695B8;
    --AssetsBack:#FFF4CC;
    --AssetsColor :#B6900A;
    --lightRed: #FF6A77;
    --Yellow: #FFD66B;
    --Orange:#FF8F6B;
    --Danger: #D11A2A;
    --blueBtn : #26C0E2;
    --Primary: #605BFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.Home_container{
    max-width: 2000px;
   
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.left_side {
    width: 327px;
    height: 1065px;
    background-color: var(--PrimeryBlue);
    display: flex;
   
    flex-direction: column;
    align-items: center;
}
.left_logo {
    width: 191px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.left_logo h1{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
.left_logo  img{
    width: 50px;
    height: 50px;
}

.categories {
    width: 327px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.lists_items {
    width: 327px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.active{
    background-color: white;
    width: 327px !important; 
    
}
.active a {
    color: var(--PrimeryBlue) !important;
}
.active i {
    color: var(--Primary) !important;
}

.list_item  {
    width: 327px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 0 30px;
    
    
   
}
.list_item:hover{
    box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.67);

}
.list_item  a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
.list_item  i {
    color: white;
    font-size: 20px;

}
.frame {
    width: 261px;
    height: 350px;
    position: relative;
    margin-top: 25%;
   
}
.log_out {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}
.log_out a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
.log_out i {
    color: white;
    font-size: 20px;

}
.log_out:hover{
    box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.67);

}
 
 

