<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  
    <link rel="stylesheet" href="../dashBoardPage/Home.css">
    
    
   
    <link rel="stylesheet" href="../dashBoardPage/dashMedia.css">
   
  

</head>
<body>

  
        <section class="Home_container">

            <aside class="left_side">
                <div class="left_logo">
                    <img src="/Assets/Group 179.png" alt="">
                    <h1>Derugh</h1>
                </div>
                <div class="categories">
                    <ul class="lists_items">
                        <li class="list_item active">
                            <i class="bi bi-ui-checks-grid"></i>
                            <a href="#">Dashboard</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-calendar-week-fill"></i>
                            <a href="#">Calendar & Events</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-person"></i>
                            <a href="#">Assigned to me</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-envelope"></i>
                            <a href="#">Contacts</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-check2"></i>
                            <a href="#">Completed Projects</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-pencil-fill"></i>
                            <a href="#">Messages</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-emoji-dizzy"></i>
                            <a href="#">Snoozed</a>
                        </li>
                        
    
    
                    </ul>
                </div>
                <div class="frame">
                    <img src="/Assets/Frame 665.png" alt="">
                    <li class="log_out">
                        <a href="../MainPage/MainPage.html">Log Out</a>
                        <i class="bi bi-box-arrow-right"></i>
                     </li>
                </div>
    
    
            </aside>
            <section class="center">
                <section class="center_top">
                    <div class="title">
                        <p>page / <span>dashboard</span></p>
                    </div>
                    <div class="profile">
                        <div class="profile_top">
                            <div class="name"><p>Hi <span>Kelvin,</span></p></div>

                            <div class="search">
                                <i class="bi bi-search"></i>
                                <input type="search" name="search" id="" placeholder="Search Project or client.....">
                            </div>
                            <div class="center_acount">
                                <button class="top_btn">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Add New Project</span>
                                </button>
                                <div class="account">
                                    <i class="bi bi-bell"></i>
                                    <img src="/Assets/Ellipse 1.png" alt="">
                                    <p>K. E. Unemi </p>
                                    <i class="bi bi-caret-down-fill"></i>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="profile_bottom">
                            <span>I’ts looking like a slow day.</span>
                        </div>
                    </div>
                </section>
    
                <section class="center_content">
                    <div class="center_box">
                        <div class="box">
                            <div class="box-1 " id="wheather">
                                <div class="welcome"> 
                                    <h1>welcome,<span>Tamar</span></h1>
                                    <p>You can check a quick weather  
                                        for <span>Tbilisi</span> today. 
                                        Hope you're having a great day 🖐️
                                    </p>
                                     

                                </div>
                               <div class="container">
                                  <div class="search_box">
                                    <i class="bi bi-geo-alt"></i>
                                    <input type="text" placeholder="Enter your location">
                                    <button class="bi bi-search"></button>

                                  </div>
                                  <div class="weather-box">
                                    <div class="box">
                                        <div class="info-weather">
                                            <div class="weather">
                                                <img src="/Assets/default.png" alt="">
                                                <p class="temperature"> 0 <span>°C</span></p>
                                                <p class="description">Broken Clouds</p>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="weather-detalis">
                                    <div class="humidity">
                                        <i class="bi bi-water"></i>
                                        <div class="text">
                                            <div class="info-humidity">
                                                <span>0%</span>
                                            </div>
                                            <p>Humidyty</p>
                                        </div>
                                    </div>
                                    <div class="wind">
                                        <i class="bi bi-wind"></i>
                                        <div class="text">
                                            <div class="info-humidity">
                                                <span>0km/h</span>
                                            </div>
                                            <p>Wind Speed</p>
                                        </div>
                                    </div>
                                  </div>
                               </div>


                            </div>

                            <div class="box-2">B</div>
                        </div>
                         
                        <div class="box">
                            <div class="box-3">c</div>
                            <div class="box-4">E</div>
                        </div>
                        
                    </div>
                    <aside class="center_aside">
                        f
                    </aside>
                </section>
            </section>  
        </section>




        <script src="../dashBoardPage/index.js"></script>
    
    
</body>
</html>