@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --Grey:#84878B;
    --BlackPrimery : #2C2E32;
    --PrimeryBlue: #0C99FF;
    --ItemBlue: #01517E;
    --StatusBack :#DBF3E6;
    --StatusColor: #6ECF9D;
    --DarkGrenn:#3E875E;
    --PriorityBack : #FFCCCC;
    --PriorityColor: #B82F26;
    --PaymentBack :#D7F0FF;
    --PaymentColor:#2695B8;
    --AssetsBack:#FFF4CC;
    --AssetsColor :#B6900A;
    --lightRed: #FF6A77;
    --Yellow: #FFD66B;
    --Orange:#FF8F6B;
    --Danger: #D11A2A;
    --blueBtn : #26C0E2;
    --Primary: #605BFF;
    --cardColor: #F4F4F4;
    --spanColor: #858C94;
    --box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.67);
    --transition: all 0.5s ease-in-out;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 
.Home_container{ 
    max-width: 2000px;  
    height: 1065px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.left_side {
    width: 327px;
    height: 1065px;
    background-color: var(--PrimeryBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_logo {
    width: 191px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left_logo h1{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.left_logo  img{
    width: 50px;
    height: 50px;
}
.categories {
    width: 327px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lists_items {
    width: 327px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.active{
    background-color: white;
    width: 327px !important; 
}
.active a {
    color: var(--PrimeryBlue) !important;
}
.active i {
    color: var(--Primary) !important;
}
.list_item  {
    width: 327px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 0 30px;
}
.list_item:hover{
    box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.67);

}
.list_item  a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.list_item  i {
    color: white;
    font-size: 20px;
}
.frame {
    width: 261px;
    height: 350px;
    position: relative;
    margin-top: 25%;
}
.log_out {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.log_out a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.log_out i {
    color: white;
    font-size: 20px;
}
.log_out:hover{
    box-shadow: -1px 3px 10px -4px rgba(0,0,0,0.67);
}
 
.center {
    width: 1378px;
    height: 968.89px;
    margin: 0 auto;
}
.center_top {
    width: 100%;
    height: 197.89px ;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
  
    gap: 20px;
}
.center .title  {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}
.center .title   p {
    font-size: 16px;
    color: var(--BlackPrimery);
    font-family: 'Poppins', sans-serif;
}
.center .title span{
    font-size: 16px;
    color: var(--ItemBlue);
    font-family: 'Poppins', sans-serif;
}
.profile {
    width: 100%;
    height: 173px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile_top {
    width: 100%;
    height: 46.89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_top .name {
    width: 150px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_top .name  p {
    font-size: 34px;
    color: var(--spanColor);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.profile_top .name  span {
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--BlackPrimery);
}
.search {
    width: 499px;
    height: 45px;
    display: flex;
    background-color: #EBF7FF;
    display: flex;
    align-items: center;
    border-radius: 53px;
    gap: 20px;
}
.search  i{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.search  input {
    width: 475px;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 53px;
    
}
.center_acount {
    width: 390.96px;
    height: 46.89px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.center_acount .top_btn {
    width: 176px;
    height: 45px;
    background-color: var(--PrimeryBlue);
    border-radius: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}
.center_acount .top_btn:hover{
    box-shadow: var(--box-shadow);
}
.center_acount .top_btn  i  {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.center_acount .top_btn span{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.account{
    width: 183.96px;
    height: 46,89px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--PrimeryBlue);
}
.account i {
    color: var(--spanColor);
    font-size: 20px;
}
.account p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.profile_bottom {
    width: 100%;
    height: 37px;
}
.profile_bottom span {
    font-size: 24px;
    color: var(--spanColor);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.center_content {
    width: 100%;
    height: 771px;
    display: flex;
    gap: 10px;
}
.center_content .center_box {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 31px;
}
.center_box .box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-1 {
    width: 600px;
    height: 280px;
    background-color:var(--cardColor) ;
    border: 1px solid var(--spanColor);
    display: flex; 
}
.welcome {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: center;
}
.welcome  h1{
    font-size: 29.3px;
    color: var(--BlackPrimery);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    gap: 10px;
    display: flex;
}
.welcome  h1 span{
    font-size: 29.3px;
    color: var(--PaymentColor);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
.welcome  p {
    font-size: 15.65px;
    color: var(--ItemBlue);
    font-family: 'Poppins', sans-serif;
}
/* weatehr container */
.container{
    position: relative;
    width: 300px;
    height: 100%;
    background-color: var(--PrimeryBlue);
    backdrop-filter: blur(50px);
    border: 2px solid rgba( 255, 255, 225, .2);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
}
.search_box{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}
.search_box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--PaymentBack);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}
.search_box input::placeholder {
    color: rgb(255, 255, 255) ;
    text-transform: capitalize;
}
.search_box i {
    position: absolute;
    left: 10px;
    font-size: 20px;
}
.search_box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0 40px 0 5px;
    cursor: pointer;
}
.weather-box {
    width: 100%;
    text-align: center;
    margin: 2% 35%;
}

.weather-box img{
    width: 60px;
}
.weather-box .temperature {
    position: relative;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -20px;
}
.weather-box .temperature  span{
     position: absolute;
     font-size: 16px;
     margin-left: 4px;
}
.weather-box .description {
   font-size: 14px;
   font-weight: 500;
   text-transform: capitalize;
}
.weather-detalis {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;

}
.weather-detalis .humidity {
    display: flex;
    align-items: center;
    width: 30%;
}
.wind {
    display: flex;
    align-items: center;
    width: 50%;
}
.weather-detalis i {
    font-size: 25px;
    margin-right: 10px;
}
.weather-detalis  span{
    display: inline-block;
    font-size: 14px;
}
.weather-detalis  p {
    font-size: 14px;
}
.box-2 {
    width: 504px;
    height: 280px;
    background-color:var(--cardColor) ;
    border: 1px solid var(--spanColor);
    display: flex;
    flex-direction: column;
}
.box-2 .meetengs_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid  #ECEDEE;
}
.box-2 .meetengs_title p {
    font-family: 'Poppins', sans-serif;
    color: var(--BlackPrimery);
    font-size: 23.44px;
}
.box-2 .meetengs_title i {
    color: var(--PrimeryBlue);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.meetings_tasks {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
     
}
.meetings_tasks div{
    width: 100%;
    height: 50px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid  #ECEDEE;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
    transition: var(--transition);
}
.meetings_tasks div:hover{
    box-shadow: var(--box-shadow);
}
.meetings_tasks div .task_item{
    display: flex;
    
}
.meetings_tasks div .task_item i {
    color: var(--PrimeryBlue);
    font-size: 20px;
}
.meetings_tasks div .task_item p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: var(--BlackPrimery);
}
.meetings_tasks div .task_item span{
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--spanColor);
}

.box-3{
    width: 752px;
    height: 460px;
    background-color:var(--cardColor) ;
    border: 1px solid var(--BlackPrimery);
    display: flex;
    flex-direction: column;
    
    
}
.project_title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_title  .titles {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 20px;


}

.status {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.status p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18.65px;
    color: var(--BlackPrimery);
}
.select {
    width: 90px;
    height: 33px;
    border: 1px solid  #ECEDEE;
    background: none;
    border-radius: 10px;
    color: var(--BlackPrimery);
}
.projects {
    width: 685px;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projects .project_content {
    width: 95%;
    height: 149px;
    border: 1px solid  #ECEDEE;
    border-radius: 10px;
    box-shadow: 0px 3px 9px 7px rgba(236,237,238,0.93);
    padding: 5px 5px;
    display: flex;
    align-items: center;
}
.project_itme_leader {
    width: 170px;
    height: 102px;
    border-right: 2px dotted #A2A4A9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project_itme_leader .leader_titile{
    font-size: 18.75px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .img  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont .img  img{
    width: 54px;
    height: 54px;
}
.cont .img span{
    font-size: 8px;
    color: var(--BlackPrimery);
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.cont .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont .text  p {
    font-family: 'Poppins', sans-serif;
    color: var(--BlackPrimery);
    font-size: 15px;
}
.cont .text span {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--ItemBlue);
}
.project_itme_status{
    width: 200px;
    height: 102px;
    border-right: 2px dotted #A2A4A9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.project_itme_status .status_btn {
    width: 142px;
    height: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.project_itme_status .status_btn p{
    font-size: 15px;
    color: var(--BlackPrimery);
    font-family: 'Poppins', sans-serif;
}
.project_itme_status .status_btn button {
    width: 60px;
    height: 20px;
    font-size: 8px;
    text-transform: uppercase;
    border-radius: 28px;
    border: none;
    letter-spacing: 2px;
}
.btn_active {
    background-color: var(--StatusBack);
    color: var(--StatusColor);
}
.btn_high {
    background-color: var(--PriorityBack);
    color: var(--PriorityColor);
}
.btn_done {
    background-color: var(--PaymentBack);
    color: var(--PaymentColor);
}
.project_itme_assets{
    width: 272px;
    height: 102px;
    border-right: 2px dotted #A2A4A9;
}
.dotted{
    position: relative;
    margin-bottom: 14%;
    margin-left: 5%;
}
.project_itme_assets {
    width: 170;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.project_itme_assets .assets_title {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    justify-content: space-between;
}
.assets_title p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.assets_title .asets_btn {
    width: 93px;
    height: 20px;
    background-color: var(--AssetsBack);
    color: var(--AssetsColor);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    border: none;
    border-radius: 28px;
}
.asets_text{
    width: 100%;
    height: 77px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 15px;
}
.box-4{
    width: 353px;
    height: 460px;
    background-color: var(--cardColor);
    border: 1px solid var(--BlackPrimery);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.toDo {
    width: 100%;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
     
}
.top {
    width: 100%;
    height: 100px;
     
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
     
    
}
.title  {
    width: 350px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.title h1 {
    font-size: 23px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.toDo .top .input_cont{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    
    margin: 0 auto;
}
.toDo .top .input_cont .inputs {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--ItemBlue);
}
 
.input_cont .addBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-size: 24px;
    color: var(--PrimeryBlue);
    cursor: pointer;
}




.inputs::placeholder {
    font-size: 12px;
    font-family: sans-serif;
    padding-left: 20px;
    text-transform: uppercase;
}
 
.tasks_container {
    width: 100%;
    height: 100%;
     
    display: flex;
    flex-direction: column;
}
.task_box {
    width: 100%;
    height: 40px;
 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid  #ECEDEE;
    cursor: pointer;
  
}
 
.task_check {
    font-size: 17px;
    
    
}
.sameTrash {
    font-size: 17px;
    color: var(--PriorityColor);
 
}
 
 
 
 







.center_aside {
    width: 250px;
    height: 100%;
    background-color: var(--cardColor);
    margin: auto;
    border: 1px solid var(--BlackPrimery);

}






 


 





 