<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  
    <link rel="stylesheet" href="../dashBoardPage/Home.css">
    
    
   
    <link rel="stylesheet" href="../dashBoardPage/dashMedia.css">
   
  

</head>
<body>

  
        <section class="Home_container">

            <aside class="left_side">
                <div class="left_logo">
                    <img src="/Assets/Group 179.png" alt="">
                    <h1>Derugh</h1>
                </div>
                <div class="categories">
                    <ul class="lists_items">
                        <li class="list_item active">
                            <i class="bi bi-ui-checks-grid"></i>
                            <a href="#">Dashboard</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-calendar-week-fill"></i>
                            <a href="#">Calendar & Events</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-person"></i>
                            <a href="#">Assigned to me</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-envelope"></i>
                            <a href="#">Contacts</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-check2"></i>
                            <a href="#">Completed Projects</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-pencil-fill"></i>
                            <a href="#">Messages</a>
                        </li>
                        <li  class="list_item">
                            <i class="bi bi-emoji-dizzy"></i>
                            <a href="#">Snoozed</a>
                        </li>
                        
    
    
                    </ul>
                </div>
                <div class="frame">
                    <img src="/Assets/Frame 665.png" alt="">
                    <li class="log_out">
                        <a href="../MainPage/MainPage.html">Log Out</a>
                        <i class="bi bi-box-arrow-right"></i>
                     </li>
                </div>
    
    
            </aside>
            <section class="center">
                <section class="center_top">
                    <div class="center_top_title">
                        <p>page / <span>dashboard</span></p>
                    </div>
                    <div class="profile">
                        <div class="profile_top">
                            <div class="name"><p>Hi <span>Kelvin,</span></p></div>

                            <div class="search">
                                <i class="bi bi-search"></i>
                                <input type="search" name="search" id="" placeholder="Search Project or client.....">
                            </div>
                            <div class="center_acount">
                                <button class="top_btn">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Add New Project</span>
                                </button>
                                <div class="account">
                                    <i class="bi bi-bell"></i>
                                    <img src="/Assets/Ellipse 1.png" alt="">
                                    <p>K. E. Unemi </p>
                                    <i class="bi bi-caret-down-fill"></i>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="profile_bottom">
                            <span>I’ts looking like a slow day.</span>
                        </div>
                    </div>
                </section>
    
                <section class="center_content">
                    <div class="center_box">
                        <div class="box">
                            <div class="box-1 boxs " id="wheather">
                                <div class="welcome"> 
                                    <h1>welcome,<span>Tamar</span></h1>
                                    <p>You can check a quick weather  
                                        for <span>Tbilisi</span> today. 
                                        Hope you're having a great day 🖐️
                                    </p>
                                     

                                </div>
                               <div class="container">
                                  <div class="search_box">
                                    <i class="bi bi-geo-alt"></i>
                                    <input type="text" placeholder="Enter your location">
                                    <button class="bi bi-search"></button>

                                  </div>
                                  <div class="weather-box">
                                    <div class="box">
                                        <div class="info-weather">
                                            <div class="weather">
                                                <img src="/Assets/default.png" alt="">
                                                <p class="temperature"> 0 <span>°C</span></p>
                                                <p class="description">Broken Clouds</p>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="weather-detalis">
                                    <div class="humidity">
                                        <i class="bi bi-water"></i>
                                        <div class="text">
                                            <div class="info-humidity">
                                                <span>0%</span>
                                            </div>
                                            <p>Humidyty</p>
                                        </div>
                                    </div>
                                    <div class="wind">
                                        <i class="bi bi-wind"></i>
                                        <div class="text">
                                            <div class="info-humidity">
                                                <span>0km/h</span>
                                            </div>
                                            <p>Wind Speed</p>
                                        </div>
                                    </div>
                                  </div>
                               </div>


                            </div>

                            <div class="box-2 boxs">
                                <div class="meetengs_title">
                                    <p>Next Comming Meetings</p>
                                    <i class="bi bi-plus-circle"></i>
                                </div>
                                <div class="meetings_tasks">
                                    <div>
                                        <div class="task_item">
                                            <i class="bi bi-volume-up-fill"></i>
                                            <p>LexCorp <span>alexander</span></p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-calendar-week"></i>
                                            <p>22/12/2023</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>12:00</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>30min</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="task_item">
                                            <i class="bi bi-volume-up-fill"></i>
                                            <p>Aapple <span>loki</span></p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-calendar-week"></i>
                                            <p>05/01/2024</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>09:30</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>40min</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="task_item">
                                            <i class="bi bi-volume-up-fill"></i>
                                            <p>Arconia <span>mabel</span></p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-calendar-week"></i>
                                            <p>10/01/2024</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>12:00</p>
                                        </div>
                                        <div class="task_item">
                                            <i class="bi bi-alarm-fill"></i>
                                            <p>60min</p>
                                        </div>
                                    </div>
                                     
                                    
                                </div>
                                 
                               


                            </div>
                        </div>
                         
                        <div class="box">
                            <div class="box-3 boxs">
                                <div class="project_title">
                                    <h1 class="titles">Latest Projects</h1>

                                    <div class="status">
                                        <p>Status</p>
                                        <select name="active" id="" class="select">
                                            <option value="active">active</option>
                                            <option value="progress">progress</option>
                                            <option value="disable">disable</option>
                                            <option value="done">done</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="projects">
                                    <div class="project_content">
                                        <div class="project_itme_leader">
                                            <h1 class="leader_titile">Leader Sense</h1>
                                            <div class="cont">
                                                <div class="img">
                                                    <img src="/Assets/coding.png" alt="">
                                                    <span>coding</span>
                                                </div>
                                                <div class="text">
                                                    <p>Madam</p>
                                                    <span>Owner Seo</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="project_itme_status">
                                            <div class="status_btn">
                                                <p>Status</p>
                                                <button class="btn_active">active</button>
                                            </div>
                                            <div class="status_btn  ">
                                                <p>Priority</p>
                                                <button class="btn_high ">high</button>
                                            </div>
                                            <div class="status_btn  ">
                                                <p>Payment</p>
                                                <button class="btn_done ">done</button>
                                            </div>


                                        </div>
                                        <div class="project_itme_assets">
                                            <div class="assets_title">
                                                <p>Assets And Info</p>
                                                <button class="asets_btn">in-Progress</button>
                                            </div>
                                            <span class="asets_text">
                                                An excellent opportunity for an <br>experienced UX/UI 
                                                Designer to join a <br>well-established cybersecurity
                                            </span>

                                        </div>
                                        <i class="bi bi-three-dots-vertical dotted"></i>
                                    </div>
                                    <div class="project_content">
                                        <div class="project_itme_leader">
                                            <h1 class="leader_titile">digiin CRM</h1>
                                            <div class="cont">
                                                <div class="img">
                                                    <img src="/Assets/iconUxUI.png" alt="">
                                                    <span>ux/ui</span>
                                                </div>
                                                <div class="text">
                                                    <p>jason pineda</p>
                                                    <span>Owner Seo</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="project_itme_status">
                                            <div class="status_btn">
                                                <p>Status</p>
                                                <button class="btn_active">active</button>
                                            </div>
                                            <div class="status_btn  ">
                                                <p>Priority</p>
                                                <button class="btn_high ">high</button>
                                            </div>
                                            <div class="status_btn  ">
                                                <p>Payment</p>
                                                <button class="btn_done ">done</button>
                                            </div>


                                        </div>
                                        <div class="project_itme_assets">
                                            <div class="assets_title">
                                                <p>Assets And Info</p>
                                                <button class="asets_btn">in-Progress</button>
                                            </div>
                                            <span class="asets_text">
                                                An excellent opportunity for an <br>experienced UX/UI 
                                                Designer to join a <br>well-established cybersecurity
                                            </span>

                                        </div>
                                        <i class="bi bi-three-dots-vertical dotted"></i>
                                    </div>
                                    

                                </div>

                            </div>

                            <div class="box-4 boxs">
                                
                                    <div class="toDo">
                                        <div class="top">
                                            <div class="title">
                                                <h1>Add New Task</h1>
                                            </div>
                                            <div class="input_cont">
                                                <input type="text"   placeholder="Enter New Tasks......." class="inputs">
                                                <i class="bi bi-plus-circle addBtn" id="addBtn" ></i>
                                            </div>
                                           
                                        </div>

                                        <ul class="tasks_container" id="myList">

                                            <li class="task_box same_Clase" id="box1">
                                                <i class="bi bi-check-circle-fill task_check"   ></i>
                                                <p id="task_text">This is an example about my task 1</p>
                                                <i class="bi bi-trash3 sameTrash" id="task_trash1"></i>
                                            </li>
                                            <li class="task_box same_Clase" id="box2">
                                                <i class="bi bi-check-circle-fill task_check" ></i>
                                                <p id="task_text">This is an example about my task 2</p>
                                                <i class="bi bi-trash3 sameTrash" id="task_trash2"></i>
                                            </li>
                                            <li class="task_box same_Clase" id="box2">
                                                <i class="bi bi-check-circle-fill task_check" ></i>
                                                <p id="task_text">This is an example about my task 2</p>
                                                <i class="bi bi-trash3 sameTrash" id="task_trash2"></i>
                                            </li>
                                             
                                            <li class="task_box same_Clase" id="box2">
                                                <i class="bi bi-check-circle-fill task_check" ></i>
                                                <p id="task_text">This is an example about my task 2</p>
                                                <i class="bi bi-trash3 sameTrash" id="task_trash2"></i>
                                            </li>
                                             
                                            <li class="task_box same_Clase" id="box2">
                                                <i class="bi bi-check-circle-fill task_check" ></i>
                                                <p id="task_text">This is an example about my task 2</p>
                                                <i class="bi bi-trash3 sameTrash" id="task_trash2"></i>
                                            </li>
                                             
                                             
                                            

                                        </ul>


                                        
                                       
                                      
                                    
                            
                                    </div>
                                 
                              

                            </div>
                        </div>
                        
                    </div>
                    <aside class="center_aside">
                        <div class="center_aside_title">
                           <h2>ToDo</h2>
                        </div>

                        <div class="todo_cards">
                            <div class="card">
                                <div class="card_top">
                                    <div class="top_info">
                                        <i class="bi bi-bell-fill bell"></i>
                                        <h2>Dashboard desing</h2>
                                        <i class="bi bi-three-dots dots"></i>
                                        
                                    </div>
                                    <div class="buttons">
                                        <button>Low</button>
                                        <button>Urgent</button>
                                    </div>
                                    
                                </div>
                                <div class="card_bottom">
                                    <span class="card_text">
                                        Discussion for management dashboard ui design
                                    </span>
                                    <div class="card_content">
                                        <div class="users">
                                            
                                            <img src="/Assets/People.png" alt="">

                                        </div>
                                        <div class="feedback">
                                            <i class="bi bi-chat-dots-fill"></i>
                                            <span>112</span>
                                            <i class="bi bi-heart-fill"></i>
                                            <span>12.5k</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card_top">
                                    <div class="top_info">
                                        <i class="bi bi-check-all bell" style="background-color: green;" ></i>
                                        <h2>Landing page Design</h2>
                                        <i class="bi bi-three-dots dots"></i>
                                        
                                    </div>
                                    <div class="buttons">
                                        <button>Completed</button>
                                        <button>Pending Review</button>
                                    </div>
                                    
                                </div>
                                <div class="card_bottom">
                                    <span class="card_text">
                                        Discussion for management dashboard ui design
                                    </span>
                                    <div class="card_content">
                                        <div class="users">
                                            
                                            <img src="/Assets/people2.png" alt="">

                                        </div>
                                        <div class="feedback">
                                            <i class="bi bi-chat-dots-fill"></i>
                                            <span>112</span>
                                            <i class="bi bi-heart-fill"></i>
                                            <span>12.5k</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card_top">
                                    <div class="top_info">
                                        <i class="bi bi-bell-fill bell"></i>
                                        <h2>DE-Shop Mobile App</h2>
                                        <i class="bi bi-three-dots dots"></i>
                                        
                                    </div>
                                    <div class="buttons">
                                        <button>Low</button>
                                        <button>Urgent</button>
                                    </div>
                                    
                                </div>
                                <div class="card_bottom">
                                    <span class="card_text">
                                        Discussion for management dashboard ui design
                                    </span>
                                    <div class="card_content">
                                        <div class="users">
                                            
                                            <img src="/Assets/People.png" alt="">

                                        </div>
                                        <div class="feedback">
                                            <i class="bi bi-chat-dots-fill"></i>
                                            <span>112</span>
                                            <i class="bi bi-heart-fill"></i>
                                            <span>12.5k</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card_top">
                                    <div class="top_info">
                                        <i class="bi bi-bell-fill bell"></i>
                                        <h2>Dashboard desing</h2>
                                        <i class="bi bi-three-dots dots"></i>
                                        
                                    </div>
                                    <div class="buttons">
                                        <button>Low</button>
                                        <button>Urgent</button>
                                    </div>
                                    
                                </div>
                                <div class="card_bottom">
                                    <span class="card_text">
                                        Discussion for management dashboard ui design
                                    </span>
                                    <div class="card_content">
                                        <div class="users">
                                            
                                            <img src="/Assets/People.png" alt="">

                                        </div>
                                        <div class="feedback">
                                            <i class="bi bi-chat-dots-fill"></i>
                                            <span>112</span>
                                            <i class="bi bi-heart-fill"></i>
                                            <span>12.5k</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </aside>
                </section>
            </section>  
        </section>




        <script src="../dashBoardPage/index.js"></script>
    
    
</body>
</html>