<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar & Events</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Calendar/calendar.css">
</head>
<body>

    <section class="Home_container">
        <aside class="left_side">
            <div class="left_logo">
                <img src="/Assets/Group 179.png" alt="">
                <h1>Derugh</h1>
            </div>
            <div class="categories">
                <ul class="lists_items">
                    <li class="list_item active">
                        <i class="bi bi-ui-checks-grid"></i>
                        <a href="../dashBoardPage/HomePge.html">Dashboard</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-calendar-week-fill"></i>
                        <a href="../Calendar/calendar.html">Calendar & Events</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-person"></i>
                        <a href="#">Assigned to me</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-envelope"></i>
                        <a href="#">Contacts</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-check2"></i>
                        <a href="#">Completed Projects</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-pencil-fill"></i>
                        <a href="#">Messages</a>
                    </li>
                    <li  class="list_item">
                        <i class="bi bi-emoji-dizzy"></i>
                        <a href="#">Snoozed</a>
                    </li>
                    


                </ul>
            </div>
            <div class="frame">
                <img src="/Assets/Frame 665.png" alt="">
                <li class="log_out">
                    <a href="../MainPage/MainPage.html">Log Out</a>
                    <i class="bi bi-box-arrow-right"></i>
                 </li>
            </div>


        </aside>

        <section class="center">
            <section class="center_top">
                <div class="center_top_title">
                    <p>page / <span>Calendar & Events</span></p>
                </div>
                <div class="profile">
                    <div class="profile_top">
                        
    
                        <div class="search">
                            <i class="bi bi-search"></i>
                            <input type="search" name="search" id="" placeholder="Search Project or client.....">
                        </div>
                        <div class="center_acount">
                            <button class="top_btn">
                                <i class="bi bi-plus-circle"></i>
                                <span>Add Event</span>
                            </button>
                            <div class="account">
                                <i class="bi bi-bell"></i>
                                <img src="/Assets/Ellipse 1.png" alt="">
                                <p>K. E. Unemi </p>
                                <i class="bi bi-caret-down-fill"></i>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>

            <div class="center_content">
                <div class="calendaer_title">
                    <div class="calendar_heading">
                        <h1>Calendar</h1>
                    </div>
                    <div class="calendarBtn">
                        <button>Day</button>
                        <button>Week</button>
                        <button class="primery">Month</button>
                        <button>Year</button>
                    </div>
                </div>



                <div class="calendar_Container">
                       
                    <div class="calendar_box1">
                        <div class="add_shortCut"></div>
                        <div class="calendar_icone"></div>
                        <div class="calendar_people"></div>
                        <div class="calendar_user"></div>
                    </div>


                    <div class="calendar_box2"></div>
                    <div class="calendar_box3"></div>
                      
                </div>
                
            </div>

            
        </section>
    </section>

    
    
</body>
</html>